<%- include('../../shared/includes/head', { pageTitle: 'Failure!' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order failed. Contact the owner for details</h1>
  </main>
<%- include('../../shared/includes/footer') %>