<%- include('../../shared/includes/head', { pageTitle: 'Success!' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order completed. Contact the owner for details</h1>
    <p>You can visit the <a href="/orders">orders page</a> for more details.</p>
  </main>
<%- include('../../shared/includes/footer') %>