<%- include('../../shared/includes/head', { pageTitle: 'All products'}) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>All products</h1>
        <p>A list of products...</p>
    </main>
    
<%- include('../../shared/includes/footer') %>